# This is Git's per-user configuration file.
[user]
	name = Dmytro Khromov
	email = dmytro.khromov@innocode.no
[color "status"]
	changed = blue
	untracked = blue
[color "diff"]
	old = yellow
[pull]
	rebase = false
